In [1]:
import pandas as pd 
import os

In [2]:
os.chdir('..')

In [3]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 8689-E141

 Directory of c:\Users\jaayg\OneDrive\Escritorio\proyectos\presupuesto_general_colombia

02/08/2025  09:43 PM    <DIR>          .
02/08/2025  09:41 PM    <DIR>          ..
02/08/2025  09:41 PM    <DIR>          data
02/08/2025  09:41 PM               269 enviroment.yml
02/08/2025  09:41 PM    <DIR>          notebooks
02/08/2025  09:41 PM               140 README.md
02/08/2025  09:41 PM                 0 requirements.txt
02/08/2025  09:41 PM    <DIR>          venv
               3 File(s)            409 bytes
               5 Dir(s)  69,125,677,056 bytes free

In [8]:
df_presupuesto = pd.read_csv('data/raw/presupuesto_nacion.csv')

In [9]:
df_presupuesto.head()

,Fuente de Financiación,Situacion de Fondos,Recurso Presupuestal,Codigo del Sector,Nombre del Sector,Codigo Entidad,Nombre Entidad,Apropiación Vigente,Compromisos,Obligaciones,Pagos
0,Nación,CSF,DONACIONES,29,TRABAJO,36-01-01,MINISTERIO DEL TRABAJO - GESTION GENERAL,6.916158e+09,4.083154e+09,1.187892e+09,1.187892e+09
1,Nación,CSF,DONACIONES,3,AMBIENTE Y DESARROLLO SOSTENIBLE,32-01-01,MINISTERIO DE AMBIENTE Y DESARROLLO SOSTENIBLE...,4.300000e+09,4.300000e+09,4.093660e+09,4.093660e+09
2,Nación,CSF,DONACIONES,33,"VIVIENDA, CIUDAD Y TERRITORIO",40-01-01,"MINISTERIO DE VIVIENDA, CIUDAD Y TERRITORIO - ...",1.396300e+10,0.000000e+00,0.000000e+00,0.000000e+00
3,Nación,CSF,DONACIONES,33,"VIVIENDA, CIUDAD Y TERRITORIO",40-02-00,FONDO NACIONAL DE VIVIENDA - FONVIVIENDA,1.098204e+10,0.000000e+00,0.000000e+00,0.000000e+00
4,Nación,CSF,DONACIONES,4,CULTURA,33-01-01,"MINISTERIO DE LAS CULTURAS, LAS ARTES Y LOS SA...",1.456610e+09,1.591858e+08,0.000000e+00,0.000000e+00

Aegurarme que el codigo de la entidad sea tratado como un string

In [10]:
df_presupuesto["Codigo Entidad"] = df_presupuesto["Codigo Entidad"].astype(str)

In [14]:
df_presupuesto["Nombre Entidad"].isnull().sum()

0

In [17]:
df_presupuesto["Nombre del Sector"].isnull().sum()

0

Revisar valores negativos, se convierten a 0

In [18]:
columns_to_check = ["Apropiación Vigente", "Compromisos", "Obligaciones", "Pagos"]
for col in columns_to_check:
    df_presupuesto[col] = df_presupuesto[col].apply(lambda x: max(x, 0))  # Convertir valores negativos en 0

In [21]:
df_presupuesto.to_csv('data\processed\datos_limpios.csv', index=False, encoding='utf-8-sig')